.footer {
    background-color: #c0baba;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: auto;
    height: 50px; /* adjust as needed */
  }
  
  .container {
    width: auto;
    margin: 0 auto;
  }
  