<div class="work-component">
    <div class="organization">
        <img [src]="publication.image" alt="Logo">
        <div class="content">
            <app-publication-introduction 
            [title]="publication.title" 
            [authors]="publication.authors" 
            [link]="publication.link" 
            [publishDate]="publication.publishDate">
        </app-publication-introduction>
            <app-publication-description *ngFor="let paragraph of publication.descriptions" [description]="paragraph"></app-publication-description>
        </div>
    </div>
</div>
  