.work-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    background-color: white;
    width: 400px;
    height: 180px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 1px;
    border-radius: 10px;
    box-shadow: 0 12px 34px rgba(0, 0, 0, 0.2);
    .organization {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        h2 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 1px;
            text-align: left;
            margin-right: 10px;
          }
      }
    
    p {
      font-size: 16px;
      text-align: left;
      margin: 0;
    }
    
    @media (max-width: 500px) {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
          .organization {
              display: flex;
              align-items: center;
              margin-bottom: 10px;

              h2 {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 1px;
                text-align: left;
                margin-right: 10px;
              }
              img {
                width: 80px;
                height: 50px;
                margin-right: 10px;
              }
              h3 {
                font-size: 16px;
                margin: 0;
              }
            }
          p {
            font-size: 16px;
            text-align: left;
            margin: 0;
          }
    }

    @media (max-width: 375px) {
        width: 85%;
        height: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        
          .organization {
              display: flex;
              align-items: center;
              margin-bottom: 10px;

              h2 {
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 1px;
                text-align: left;
                margin-right: 0;
              }
              img {
                width: 80px;
                height: 50px;
                margin-right: 10px;
              }
              h3 {
                font-size: 16px;
                margin: 0;
              }
            }
          p {
            font-size: 16px;
            text-align: left;
            margin: 0;
          }
    }

    @media (max-width: 280px) {
        width: 70%;
        height: 75%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        padding: 20px;
        h2 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 1px;
            text-align: right;
            margin-left: 20px;
          }
          .organization {
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              margin-left: 10px;
              img {
                width: 100px;
                height: 100px;
                margin-right: 10px;
              }
              h3 {
                font-size: 16px;
                margin: 0;
              }
            }
          p {
            font-size: 16px;
            text-align: left;
            margin: 0;
            margin-bottom: 5px;
          }
    }
  }
  